<?xml version="1.0"?>
<!--
@author Maciej Sławik <maciekslawik@gmail.com>
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--Preference section-->

    <preference for="MSlwk\CatalogMode\Api\CatalogModeConfigProviderInterface"
                type="MSlwk\CatalogMode\Model\CatalogModeConfigProvider" />

    <!--End of preference section-->

    <!--Plugin section-->

    <type name="Magento\Catalog\Model\Product">
        <plugin name="MSlwk_CatalogMode::model_product"
                type="MSlwk\CatalogMode\Plugin\Catalog\Model\Product"
                sortOrder="10"
                disabled="false" />
    </type>

    <!--End of plugin section-->

</config>